main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_button_list {
  list-style-type: none;
  display: flex;
}

#main_button_list li {
  height: 20rem;
  display: flex;
  align-items: center;
}

#main_button_list a {
  font-size: 1.75rem;
  width: 15rem;
  height: 5.75rem;
}

header {
  display: flex;
  justify-content: space-between;
}

#main_title_wrapper {
  margin-left: 1rem;
}

#main_title {
  background-image: url(../assets/images/parchment.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-clip: text;
  font-size: 8rem;
  font-family: 'Mystery Quest';
  color: transparent;
}

#main_subtitle {
  font-size: 2rem;
  position: relative;
  right: 0;
  color: var(--white);
  text-align: right;
}

#swords_container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sword {
  height: 100%;
  bottom: 10%;
  position: absolute;
  z-index: -3;
}

.sword#sword_one {
  rotate: 190deg;
}

.sword#sword_two {
  scale: -1 1;
  rotate: 170deg;
}


















.cards {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.cards-button {
  display: inline-block;
  font-size: 1.25rem;
  color: #fff9;
  background-color: #fff0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  text-decoration: none;
  border: 3px solid #fff3;
  transition: all 200ms;
}

.cards-button:hover {
  background-color: #fff1;
  color: #fff;
  border-color: #fff;
  scale: 1.05;
}

.cards-button:active {
  scale: 0.98;
}

@media (min-width: 640px) {
  .buttons {
    flex-direction: row;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 2rem;
    top: -3rem;
  }

  .button-container > button {
    font-size: 2rem;
  }

  .sword1 {
    translate: 150% 90%;
  }

  .sword2 {
    translate: -50% -10%;
  }
}

@media (max-width: 700px) {
  .content {
    width: 300px;
  }

  h1 {
    margin-top: 20vh;
  }

  li {
    font-size: 1.25rem;
  }
}
