main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_button_list {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}

#main_button_list li {
  height: 10rem;
  display: flex;
  align-items: center;
}

#main_button_list a {
  font-size: 1.75rem;
  width: 15rem;
  height: 5.75rem;
}

header {
  display: flex;
  justify-content: space-between;
}

#main_title_wrapper {
  margin-left: 1rem;
}

#main_title {
  background-image: url(../assets/images/parchment.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-clip: text;
  font-size: 8rem;
  font-family: 'Mystery Quest';
  color: transparent;
}

#main_subtitle {
  font-size: 2rem;
  position: relative;
  right: 0;
  color: var(--white);
  text-align: right;
}

#swords_container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#swords_container:has(a:hover) .sword {
  transform: scale(1.05);
}

.sword {
  height: 100%;
  bottom: 7.5%;
  position: absolute;
  z-index: -3;
  transition: transform 150ms ease-in-out;
}

.sword#sword_one {
  rotate: 190deg;
}

.sword#sword_two {
  scale: -1 1;
  rotate: 170deg;
}
