* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 8rem;
  display: flex;
  background-color: #341c3a;
  flex-direction: column;
}

main {
  flex: 1;
}

#content {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer {
  padding: 2rem;
}

h1 {
  text-align: left;
  background-image: url(../assets/images/parchment.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-clip: text;
  font-size: 8rem;
  font-family: 'Mystery Quest';
  font-weight: normal;
  color: transparent;
  margin-top: 0vh;
  margin-left: 3vw;
}

h2 {
  margin: 0 auto;
  font-size: 2rem;
  font-family: 'Berkshire Swash';
  font-weight: normal;
  position: relative;
  top: -3rem;
  left: 15rem;
  color: #fff;
}

.icon {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.icon:hover {
  scale: 1.05;
}

.icon:active {
  scale: 0.98;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15vw;
  padding: 2rem;
}

.button-container {
  position: relative;
  width: 100%;
}

.button-container > button {
  z-index: 1;
  flex: 1;
  text-align: center;
  border-radius: 1.5vw;
  border-width: 10px;
  border-style: solid;
  font-size: 1rem;
  color: #3a3a3a;
  text-decoration: none;
  width: 18vw;
  aspect-ratio: 2.5;
  cursor: pointer;
  font-family: 'Mystery Quest';
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button-container:has(button:hover) {
  scale: 1.05;
}

.button-container:has(button:active) {
  scale: 0.98;
}

.sword {
  width: 12vw;
  aspect-ratio: 0.5;
  z-index: -1;
  transform-origin: 0 0;
}

.sword1 {
  rotate: 110deg;
  translate: 200% 40%;
}

.sword2 {
  rotate: -110deg;
  translate: -100% 40%;
  transform: scaleX(-1);
}

.silver {
  background-image: linear-gradient(to bottom right, #717171 0%, #9e9898 9%, #d6d6d6 23%, #d6d6d6 68%, #9e9e9e 80%, #9a9a9a 84%);
  border-image: linear-gradient(#9b9b9b 9%, #dcdcdc 25%, #8f8f8f 99%) 30;
}

.gold {
  background-image: linear-gradient(to bottom right, #da8207 0%, #dd9318 9%, #ffcb3c 23%, #ffcb3c 68%, #e39c1e 80%, #fbc63a 84%);
  border-image: linear-gradient(#fdc83a 9%, #fdecba 25%, #f1b42d 99%) 30;
}

@media (min-width: 640px) {
  .buttons {
    flex-direction: row;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 2rem;
    top: -3rem;
  }

  .button-container > button {
    font-size: 2rem;
  }

  .sword1 {
    translate: 150% 90%;
  }

  .sword2 {
    translate: -50% -10%;
  }
}

@media (max-width: 700px) {
  .content {
    width: 300px;
  }

  h1 {
    margin-top: 20vh;
  }

  li {
    font-size: 1.25rem;
  }
}

@font-face {
  font-family: 'Mystery Quest';
  src: url('../assets/fonts/MysteryQuest-Regular.ttf');
}

@font-face {
  font-family: 'Berkshire Swash';
  src: url('../assets/fonts/BerkshireSwash-Regular.ttf');
}