#lobby_menu {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  padding: 0 3rem 3rem 3rem;
}

#lobby_game_codes_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: center;
}

.lobby-code-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lobby-code-wrapper label {
  font-family: "Berkshire Swash";
  font-size: 1.5rem;
}

.lobby-code-input-wrapper {
  display: flex;
}

.lobby-code-input-wrapper input {
  font-size: 1.5rem;
  font-family: "Mystery Quest";
}

#self_game_code {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

#outbound_game_code {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#join_friend_label {
  text-align: right;
}

.lobby-code-input-wrapper button {
  width: 6rem;
  background-color: var(--yellow);
  transition: var(--default-transform-transition);
  border: none;
}

.lobby-code-input-wrapper button:hover {
  transform: var(--default-scale);
}

.lobby-code-input-wrapper button::before {
  content: '';
  display: inline-block;
  width: 60%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
}

#copy_game_code_button {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  margin-right: 1rem;
}

#copy_game_code_button::before {
  background-image: url(./../assets/images/icons/copy_icon.svg);
}

#join_game_button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  margin-left: 1rem;
}

#join_game_button:before {
  background-image: url(./../assets/images/icons/arrow_icon.svg);
}

#oracle {
  position: absolute;
  width: 17rem;
  height: 17rem;
  transform: scaleX(-1);
  right: 19rem;
  z-index: 1;
  pointer-events: none;
}

#lobby_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3rem;
}

#start_game_button,
#practice_game_button {
  width: 18rem;
  height: 7.2rem;
  font-size: 3rem;
}

#lobby_profile_list_wrapper {
  align-self: center;
  justify-self: end;
  width: 75%;
}

#lobby_profile_list {
  list-style-type: none;
  overflow: hidden;
  border-radius: var(--border-radius);
}

#lobby_profile_list li {
  position: relative;
  background-color: var(--light-gray);
  color: var(--black);
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#lobby_profile_list li::before {
  content: '';
  background-color: var(--purple);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 20rem;
}

#lobby_profile_list li:first-of-type::after {
  content: 'YOU';
  display: inline-block;
  font-weight: bold;
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

/* TODO: only display door on non-host */
/* #lobby_profile_list li:last-of-type::after {
  content: '';
  display: inline-block;
  width: 3rem;
  height: 4rem;
  background-image: url("../assets/images/icons/doors.webp");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  padding-right: 1rem;
} */

#lobby_profile_list li:first-of-type {
  background: var(--yellow);
}