#lobby_menu {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  padding: 1rem;
}

#lobby_game_codes_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.lobby-code-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.lobby-code-wrapper label {
  font-family: "Berkshire Swash";
  font-size: 1.25rem;
}

.lobby-code-input-wrapper {
  display: flex;
}

#self_game_code {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

#outbound_game_code {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#join_friend_label {
  text-align: right;
}

.lobby-code-input-wrapper button {
  width: 3rem;
  background-color: var(--yellow);
  transition: var(--default-transform-transition);
  border: none;
}

.lobby-code-input-wrapper button:hover {
  transform: var(--default-scale);
}

.lobby-code-input-wrapper button::before {
  content: '';
  display: inline-block;
  width: 60%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
}

#copy_game_code_button {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  margin-right: 0.5rem;
}

#copy_game_code_button::before {
  background-image: url(./../assets/images/icons/copy_icon.svg);
}

#join_game_button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  margin-left: 0.5rem;
}

#join_game_button:before {
  background-image: url(./../assets/images/icons/arrow_icon.svg);
}

#lobby_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

#start_game_button,
#practice_game_button {
  font-size: 1.75rem;
  width: 15rem;
  height: 5.75rem;
  margin: 0;
}

#lobby_profile_list {
  list-style-type: none;
  overflow: hidden;
  border-radius: var(--border-radius);
}

#lobby_profile_list li {
  background-color: var(--light-gray);
  color: var(--black);
  padding: 1rem;
}
