#settings-container {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    gap: 3rem;
}

#settings-container > #settings-sidebar {    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

button {
    width: 7.5rem;
    height: calc(0.4 * 7.5rem);
    font-size: 1.5rem;
    border-radius: 1.25rem;
}

#settings-sidebar > button:hover {
    transform: translateX(1.25rem);
}

#settings-container > section {
    width: 60rem;
    border-radius: 1.25rem;
    color: #D9D9D9;
}

#settings-container > #volume-settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

#music-slider, #sfx-slider {
    width: 100%;
}

#settings-container > section:not(.active) {
    display: none !important;
}